@import "tailwindcss";

@theme {
    --color-nis-primary: #463032;
    --color-nis-secondary: #006636;
    --color-nis-tertiary: #F8CB9C;
    --color-nis-primary-light: #5a3e40;
    --color-nis-secondary-light: #008845;
    --color-nis-tertiary-dark: #e6b47a;
  }
  